body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}




.clickable {
  padding: 40px;
  margin: 10px;
  width: 180px;
  border: 1px solid #dedede;
  color: #a0a0a0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.clickable i {
  font-size: 24px;
  margin-bottom: 10px;
}

.clickable:hover i {
  color: #f86624;
}


.clickable.active {
  color: #000013;
  border-color: #000013;
}

.clickable.active i {
  color: #f86624;
}
